body{
		font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	}
li  {
		border: 2px solid #e6e6e6;
		padding: 4px;
		margin: 3px;
		list-style-type: none;
	}
a   {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		text-decoration: none;
		color: grey;
	}
h4   {
		margin-left: 2em; 
	}
			
p   {
		margin: auto;
		margin-left: 18em;
		position: absolute;
		display: flex;
		align-items: center;
		vertical-align: center;
	}
img {
		margin-left: 2em;
	}